{{#> layout this }}
    {{#*inline "body"}}
        <div class="content">
            <table class="em_main_table" style="width: 100%; text-align:center;"  cellspacing="0" cellpadding="0" border="0"
                   align="center">
                <tbody>
                <tr>
                    <td>Dear {{ vetProvider }} provider</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        Issuance request from {{ learnerName }}
                        course title: {{ courseTitle }} 
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/inline}}
{{/layout}}
