{{#> layout this }}
    {{#*inline "body"}}
        <div class="content">
            <table class="em_main_table" style="width: 100%; text-align:center;"  cellspacing="0" cellpadding="0" border="0"
                   align="center">
                <tbody>
                <tr>
                    <td>Dear {{ learnerName }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        We have issued a "{{ credentialTitle }}" credential for you.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ claimUrl }}" target="_blank"
                           style="color: #ffffff; font-family: 'Source Sans Pro', sans-serif; font-size: 12px; background-color: rgb(59, 130, 246); border: none;  padding: 12px 25px; text-decoration: none; margin-top: 10px; display: inline-block; border-radius: 6px;">
                            Click here to claim your credential
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/inline}}
{{/layout}}
